:root {
  --color-black: rgb(0, 0, 0);
  --color-red: rgb(136, 8, 8);
  --color-gray: rgb(23, 23, 23);
  --color-white: rgb(252, 252, 255);
  --color-blue: rgb(7, 56, 163);
  --color-purple: rgb(77, 10, 255);
  --color-green: rgb(7, 230, 170);
}

/* Reset */
*, *::before, *::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
}

/* Allow percentage-based heights in the application */
html, body {
  height: 100%;
}

/* Add accessible line-height - Improve text rendering */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/* Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* Remove built-in form typography styles */
input, button, textarea, select {
  font: inherit;
}

/*  Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* End of Reset */
/* Utility Classes */
.screen-reader-only {
  position: absolute;
  top: auto;
  left: -10000px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.color1 {
  color: var(--color-black);
}

.color2 {
  color: var(--color-red);
}

.color3 {
  background:var(--color-gray);
}

.color4 {
  color: var(--color-white);
}

.color5 {
  color: var(--color-blue);
}

.color6 {
  color: var(--color-purple);
}

.color7 {
  color: var(--color-green);
}

/* End of Utility classes */
